*.o
*~

debug/
build/
release/

Makefile
Makefile.Debug
Makefile.Release

DslToGls.pro.user
DslToGls.pro.user.*
object_script.DslToGls.Debug
object_script.DslToGls.Release

version.txt

.gitattributes

.DS_Store
Info.plist

# visual studio files
*.sdf
*.opensdf
*.suo
*.vcxproj.user
